@import url('https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap');


.wrapper {
    
    display: flex;
    justify-content: space-evenly;
    flex-flow: column nowrap;
    align-content: space-a;
    margin: auto;
    text-align: center;
    width: 100%;
    height: 100%;
    min-height: 550px;
    
}

button {
    font-family: 'Zilla Slab','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    width: 15rem;
    margin: 1rem auto;
    height: 2.2rem;
    transition-duration: .5s;
    border: 2px solid black;
    border-radius: 10px;
    animation: fade-in 1.2s forwards;
}

button:hover, button:focus {
    cursor: pointer;
    color: whitesmoke;
    background-color: rgb(11, 54, 75);
    transition-duration: .5s;
}

.choice-container {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    margin: auto;
    background-color: rgb(247, 247, 247);
    box-shadow: black 0px 0px 15px;
    position: fixed;
    width: 100%;
    padding-top: 50px;
    height: 0;
    z-index: 10;
    opacity: 0;
    bottom: -50px;
    animation: show-container 1s ease-out forwards;
    -moz-animation: show-container 1s ease-out forwards;
}
.choice-arrow {
    pointer-events: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: .3s;
}
.choice-arrow-container {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.choice-arrow-container:hover {
    transition: background-color .25s ease-in;
    background-color: rgb(11, 54, 75);
}
.choice-arrow-container:hover > .choice-arrow {
    transform: rotate(.5turn);
    transition: transform .3s;
    
}

.button-container.hidden {
    display: none;
    margin: 1rem;
}
@keyframes show-container {
    0% {
        opacity: 0;
        bottom: -50px;
    } 
    100% {
        opacity: 1;
        bottom: 0;
    }
}

.choice-container.show {
    height: auto;
}
.choice-container.show > .button-container {
    display: flex;
    flex-flow: row wrap;
    max-width: 600px;
    margin: auto;
    transition: 1s;
}
.choice-container.show > .choice-arrow-container {
    background-color: rgb(11, 54, 75);
}
.choice-container.show > .choice-arrow-container > .choice-arrow {
    transform: rotate(.5turn);
}

@keyframes fade-in{
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}

.game-content {
    
    transition: opacity 1s;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    width: 100%;
    background-image: url('./contents/docs/images/textures/paper_fibers.png');
    background-repeat: round;
    background-color: rgb(209, 223, 199);
    height: 100%;
}

.game-load {
    opacity: 1;
    transition: opacity 1s;
    
}

.game-story {
    opacity: 0;
    height: 70%;
    margin: auto;
    padding: 1rem;
    padding-bottom: 3rem;
    max-width: 700px;
    min-width: 300px;
    box-shadow: black 7px 7px 12px;
    background-color: rgba(255, 248, 220, 0.26);
    overflow-y: scroll;
    animation: fade-in 1s forwards;
}

.game-story::-webkit-scrollbar {
    display: none;
    width: 50px;
    background: black;
}


input {
    height: 2rem;
    font-size: 1.8rem;
    width: 20rem;
    margin: 0 auto;
    border-radius: 8px;
}

.title {
    position: relative;
    

}



.footer {
    position: absolute;
    bottom: 0;
    height: 2.5rem;
    box-shadow: darkslategrey 0px 0px 8px;
    opacity: 0;
    width: 100%;
    animation: fade-in 1.2s ease-in 1.8s forwards;
}

