@import url('https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap');


.wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-flow: column nowrap;
    align-content: space-a;
    margin: auto;
    text-align: center;
    width: 100%;
    height: 100%;
    min-height: 550px;
    opacity: 0;
    animation: fade-in .8s ease-in .3s forwards;
}

button {
    font-family: 'Zilla Slab','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    width: 20rem;
    margin: 1rem auto;
    height: 2.2rem;
    transition-duration: .5s;
    border: 2px solid black;
}

button:hover, button:focus {
    cursor: pointer;
    color: whitesmoke;
    background-color: rgb(11, 54, 75);
    transition-duration: .5s;
}

@keyframes fade-in{
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }

    
}

.game-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    width: 100%;
    background-image: url('./contents/docs/images/textures/paper_fibers.png');
    background-repeat: round;
    background-color: rgb(209, 223, 199);
    height: 100%;
}

input {
    height: 2rem;
    font-size: 1.8rem;
    width: 20rem;
    margin: 0 auto;
    border-radius: 8px;
}

.title {
    position: relative;
    

}



.footer {
    position: absolute;
    bottom: 0;
    height: 2.5rem;
    box-shadow: darkslategrey 0px 0px 8px;
    opacity: 0;
    width: 100%;
    animation: fade-in 1.2s ease-in 1.8s forwards;
}

