div.warning::before {
    position: absolute;
    content: "I'm already in this story";
    background-color: yellow;
    top: -1.3rem;   
}

input.warning {
    background-color: rgb(253, 4, 4);
    color: white;
}

div {
    position: relative;
}

.continue {
    display: none;
    opacity: 0;
    transition: opacity 0s;
    position: absolute;
    width: 6rem;
    bottom: -.5rem;
    left: 52%;
    right: 48%;
}

.continue.show {
    display: block;
    opacity: 1;
    transition: opacity .4s;
}

form {
    position: relative;
}