form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-content: space-around;
    height: 20rem;
    box-shadow: rgb(57, 77, 55) 3px 3px 18px;
    transition-duration: 1.2s;
    width: 100%;
    margin: 2rem auto;
}

form:hover, form:focus {
    background-color: rgb(53, 132, 235);
    transition-duration: 1.2s;
    box-shadow: rgb(196, 184, 20) 3px 3px 60px;

}